<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Question 8 of Assignment 1 for SOEN 287-CC taught by Yuhong Yan">
    <meta name="author" content="Thomas Assalian, ID: 40287231">
    <title>Adopt-A-Buddy</title>

    <link rel="icon" href="adopt-a-buddy-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/Question7.css">

</head>

<body>

    <!--Header container--> 
    <%- include('parts/header') %>

    <div class="nav-main">
    <!--Navigation bar container-->
        <nav>
            <ul>
                <li><a href="/home">Home Page</a></li>
                <li><a href="/find-animal">Find a Dog or Cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/donate-pet">Have a Pet to Give Away</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/create-account">Create an Account</a></li>
                <% if (session && session.user) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul> 
        </nav>

        <!--Main content container-->
        <div class="main-footer">
            <main class="scroll-bar">
                <h2>Find a Dog or Cat</h2>
                <form id="find-pet" action="/find-animal" method="get">
                    <div class="form-section">
                        <label>Which animal would you like to search for?</label>
                        <div class="choice-section">
                            <input type="radio" id="dog" name="animal-type" value="dog" 
                            <% if (searchCriteria && searchCriteria.animalType === 'dog') { %> checked <% } %> >
                            <label for="dog">Dog</label>
                
                            <input type="radio" id="cat" name="animal-type" value="cat" 
                            <% if (searchCriteria && searchCriteria.animalType === 'cat') { %> checked <% } %> >
                            <label for="cat">Cat</label>
                        </div>
                    </div>
                    
                    <div class="form-section">
                        <label for="breed">Breed of Dog or Cat:</label>
                        <select id="breed" name="breed" required>
                            <option value="" disabled selected>Select breed</option>
                            <optgroup label="Dog Breeds">
                                <% if (dogBreeds.length > 0) { %>
                                    <% dogBreeds.forEach(breed => { %>
                                        <option value="<%= breed.toLowerCase() %>" <% if (searchCriteria && searchCriteria.breed === breed.toLowerCase()) { %> selected <% } %> ><%= breed %></option>
                                    <% }) %>
                                <% } else { %>
                                    <option disabled>No dog breeds available</option>
                                <% } %>
                            </optgroup>
                            <optgroup label="Cat Breeds">
                                <% if (catBreeds.length > 0) { %>
                                    <% catBreeds.forEach(breed => { %>
                                        <option value="<%= breed.toLowerCase() %>" <% if (searchCriteria && searchCriteria.breed === breed.toLowerCase()) { %> selected <% } %> ><%= breed %></option>
                                    <% }) %>
                                <% } else { %>
                                    <option disabled>No cat breeds available</option>
                                <% } %>
                            </optgroup>
                        </select>
                    </div>
                    
                    <div class="form-section">
                        <label for="age">Preferred Age of Animal (In Years):</label>
                        <select id="age" name="age" required>
                            <option value="" disabled selected>Select age</option>
                            <% uniqueAges.forEach(age => { %>
                                <option value="<%= age %>" <% if (searchCriteria && searchCriteria.age == age) { %> selected <% } %> ><%= age %> years</option>
                            <% }) %>
                        </select>
                    </div>
                    
                    <div class="form-section">
                        <label for="sex">Preferred Sex of Animal:</label>
                        <select id="sex" name="sex" required>
                            <option value="" disabled selected>Select sex</option>
                            <option value="male" <% if (searchCriteria && searchCriteria.sex === 'male') { %> selected <% } %> >Male</option>
                            <option value="female" <% if (searchCriteria && searchCriteria.sex === 'female') { %> selected <% } %> >Female</option>
                        </select>
                    </div>
                    
                    <div class="form-section">
                        <label>Compatibility:</label><br>
                        <input class="choice-section" type="checkbox" id="dogs" name="compatibility" value="dogs" 
                        <% if (searchCriteria && searchCriteria.compatibility && searchCriteria.compatibility.includes('dogs')) { %> checked <% } %> >
                        <label for="dogs">Gets along with other dogs</label><br>
                        <input class="choice-section" type="checkbox" id="cats" name="compatibility" value="cats" 
                        <% if (searchCriteria && searchCriteria.compatibility && searchCriteria.compatibility.includes('cats')) { %> checked <% } %> >
                        <label for="cats">Gets along with other cats</label><br>
                        <input type="checkbox" id="compatible-children" name="compatibility" value="children" 
                        <% if (searchCriteria && searchCriteria.compatibility && searchCriteria.compatibility.includes('children')) { %> checked <% } %> >
                        <label for="compatible-children">Gets along with children</label>
                    </div>
                    
                    <div class="form-section">
                        <button type="submit">Submit</button>
                        <button type="reset">Clear</button>
                    </div>
                </form>

                <% if (filteredPets && filteredPets.length > 0) { %>
    <h2>Available Pets</h2>
    <div class="pets-container">
        <% filteredPets.forEach(pet => { %>
            <div class="pet">
                <h2><%= pet.name %></h2>
                <img 
                    src="/images/<%= pet.breed.toLowerCase() %>.jpeg" 
                    alt="<%= pet.breed %>" 
                    onerror="this.onerror=null; this.src='/images/<%= pet.breed.toLowerCase() %>.webp'"
                >
                <p>Age: <%= pet.age %> years</p>
                <p>Sex: <%= pet.sex %></p>
                <p>Breed: <%= pet.breed %></p>
                <p>Compatibility: <%= pet.compatibility %></p>
                <p>Comments: <%= pet.description %></p>
                <p>Owner: <%= pet.owner ? pet.owner : "Unknown" %></p>
            </div>
        <% }) %>
  </div>
        <% } else { %>
            <p>No pets found matching your criteria.</p>
        <% } %>
            </main>
        </div>
    </div>

    <%- include('parts/footer') %>

    <script src="scripts/Question7.js"></script>
    
    <script>
        document.querySelector('button[type="reset"]').addEventListener('click', function() {
            window.location.href = '/find-animal';
        });

        document.getElementById('find-pet').addEventListener('submit', function(event) {
        const animalTypeDog = document.getElementById('dog').checked;
        const animalTypeCat = document.getElementById('cat').checked;
        const breed = document.getElementById('breed').value;
        const age = document.getElementById('age').value;
        const sex = document.getElementById('sex').value;
        const compatibilityDogs = document.getElementById('dogs').checked;
        const compatibilityCats = document.getElementById('cats').checked;
        const compatibilityChildren = document.getElementById('compatible-children').checked;

        // Check if an animal type is selected
        if (!animalTypeDog && !animalTypeCat) {
            alert('Please select either Dog or Cat.');
            event.preventDefault(); // Prevent the form from submitting
            return;
        }

        // Check if breed, age, and sex are selected
        if (!breed || !age || !sex) {
            alert('Please fill out all fields (Breed, Age, Sex).');
            event.preventDefault(); // Prevent the form from submitting
            return;
        }

        // Check if at least one compatibility option is selected
        if (!compatibilityDogs && !compatibilityCats && !compatibilityChildren) {
            alert('Please select at least one compatibility option.');
            event.preventDefault(); // Prevent the form from submitting
        }
    });
    </script>

</body>

</html>